/* You can add global styles to this file, and also import other style files */
div {
  margin: 0 auto;
  padding: 10px auto;
  text-align: center;
  width: 100%;
  min-height: 12rem;
  background-color: #f8f9fa;
}
